// Variables

// Fonts
$fontStack: "Open Sans", sans-serif;

// Screen sizes
$desktop: 1280px;
$laptop: 960px;
$tablet: 640px;
$phone: 320px;

// Colors
$backgroundColor: #1e73be;
$backgroundColor2: #ffffff;
$textColor: black;
$textColor2: #191919;
$linkColor: #191919;

// Header menu colors
$headerMenuBackgroundColor: #ffffff;
$headerSubMenuBackgroundColor: #ffffff;
$headerMenuLinkColor: #191919;
$headerMenuItemHoverColor: rgba(#191919, .3);
$currentMenuItemBackgroundColor: rgba(#191919, .3);

// Borders
$borderColor: #bdbdbd;
$inputBorderColor: #bdbdbd;

// <code> tag and similar
$codeTagColor: #efefef;

// Forms and Buttons
$buttonColor: #efefef;
$buttonTextColor: black;