/* 3.0 Forms and Form elements */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="file"],
textarea,
select{
	max-width: 90%;
	max-width: calc( 100% - 10px );
}

// Padding
input[type="text"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="password"],
input[type="submit"],
input[type="reset"],
button,
textarea,
.comment-reply-link,
.read-more,
.nav-previous a,
.nav-next a,
.page-numbers:not(.dots){
	padding: 5px 8px;
}

// text input
input[type="text"],
input[type="search"],
input[type="password"],
input[type="email"],
input[type="url"],
textarea{
	background-color: white;
	color: black;
	appearance: none !important;
}

//border
input[type="text"],
input[type="search"],
input[type="password"],
input[type="email"],
input[type="url"],
textarea,
.page-numbers.current{
	border: 1px solid $inputBorderColor;
}

//no border
input[type="submit"],
input[type="reset"]{
	border: none;
}

// border radius
input[type="text"],
input[type="search"],
input[type="password"],
input[type="email"],
input[type="url"],
button,
textarea,
.comment-reply-link,
.read-more,
.nav-previous a,
.nav-next a,
.page-numbers:not(.dots){
	border-radius: 2px !important;
}

// button hover
input[type="submit"],
input[type="reset"],
button,
.comment-reply-link,
.read-more,
.nav-previous a,
.nav-next a,
.page-numbers:not(.dots){
	background-color: $buttonColor;
	transition: .3s ease-in-out;
	text-decoration: none !important;

	&:hover{
		text-decoration: none;
	}
}

// background-color reset
input[type="submit"],
input[type="reset"],
button,
.comment-reply-link{
	background-color: $buttonColor;
}

.page-numbers.current{
	background-color: transparent !important;
}

.nav-links{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 20px;
}

.nav-previous,
.nav-next{
	line-height: 40px;
	a{ display: inline-block}
}

.nav-previous ~ .nav-next{ margin-left: 1rem; }

.nav-previous a:before{
	content: '\f177';
	font-family: FontAwesome;
	padding-right: 5px;
}

.nav-next a:after{
	content: '\f178';
	font-family: FontAwesome;
	padding-left: 5px;
}

// Pagination
.pagination{
	margin: 20px 0;

	> span:not(.page-links-title),
	> a{
		display: inline-block;
		width: 25px;
		height: 25px;
		text-align: center;
		line-height: 25px;
		margin: 0 5px;
		border: 1px solid $buttonColor;
	}

	> span:not(.page-links-title){
		background-color: transparent;
	}

	> a{
		background-color: $buttonColor;

		&:hover{ text-decoration: none; }
	}
}

.search-form{
	display: flex;
	max-width: 200px;

	> label{
		flex: 1;
	}

	.search-field{
		background-color: rgba($buttonColor, .5);
		width: 100%;
		border: 0;
		border-radius: 2px 0 0 2px !important;
	}

	.search-submit{
		border: 0;
		border-radius: 0 2px 2px 0 !important;
	}
}

@media (max-width: $tablet){
	.nav-links{ display: block; }

	.nav-previous,
	.nav-next{
		margin: 1em;

		a{ display: block; }
	}

	.nav-previous{ text-align: left; }
	.nav-next{ text-align: right; }

}
