/* 4.0 Layout */
#site-container{
	background-color: $backgroundColor2;
	margin: 3em auto;
	max-width: 900px;
	border-radius: 2px;
}

.site-content{
	display: flex;
	margin: 2.4em;
}

main{
	flex: 1;
	margin-right: 2.4em;
	max-width: 100%;
	min-width: 100px;
}

.no-sidebar main{
	margin: 0;
	max-width: 836px;
}

.header-image{
	margin: 0 2.4em;
	width: calc(100% - 4.8em);
	height: auto;
}

@media (max-width: $laptop){
	#site-container{ margin: 0 auto;}
}

@media (max-width: 768px){
	.site-content{ display: block; }

	main{
		margin: 0;
		max-width: 100%;
	}
}

@media (max-width: $tablet){
	.site-content{ margin: 1.2em; }

	.header-image{
		margin: 0 1.2em;
		width: calc(100% - 2.4em);
	}
}
