/* 8.0 Titles */
.content-title:before{
	font-family: FontAwesome;
	content: '\f016';
	font-weight: normal;
	margin-right: .5rem;
}

.archive .content-title:before{
	content: '\f114';
}

.tag .content-title:before{ content: '\f02b'; }
.author .content-title:before{ content: '\f007'; }
.date .content-title:before{ content: '\f073'; }
.search .content-title:before{ content: '\f002'; }
.error404 .content-title:before{ content: '\f15b'; }

/* post format prefix icons*/
.attachment,
.single-format-image,
.single-format-gallery,
.term-post-format-image,
.term-post-format-gallery{
	.content-title:before{ content: '\f03e'; }
}

.single-format-audio,
.term-post-format-audio{
	.content-title:before{ content: '\f001'; }
}

.single-format-video,
.term-post-format-video{
	.content-title:before{ content: '\f03d'; }
}

.single-format-status,
.term-post-format-status{
	.content-title:before{ content: '\f12a'; }
}

.single-format-link,
.term-post-format-link{
	.content-title:before{ content: '\f0c1'; }
}

.single-format-quote,
.term-post-format-quote{
	.content-title:before{ content: '\f10e'; }
}

.single-format-chat,
.term-post-format-chat{
	.content-title:before{ content: '\f086'; }
}
