/* 11.0 Meta */
.reginald-breadcrumbs{ 
	display: flex;
	flex-wrap: wrap;
	margin: .5rem 0; }

.reginald-breadcrumbs > span:not(:last-child):after{
	content: '>>';
	font-size: .75rem;
	padding: 0 .5rem;
}

.entry-meta,
.tags{
	font-size: .95em;
}

.entry-meta{
	display: flex;
	margin: 1em 0;

	a{
		text-decoration: none;
		
		&:hover{ text-decoration: underline; }
	}
}

.entry-meta-left{ 
	margin-right: 1em; 
	white-space: nowrap
}

.entry-meta-right{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	flex: 1;
	text-align: right;
	padding-top: 12px;

	span{
		margin-left: 1em;	
	}
}

.avatar{
	height: 40px;
	width: 40px;
	border-radius: 100%;
	margin-right: .5em;
}

@media (max-width: $tablet){
	.entry-meta,
	.entry-meta-right{
		display: block; 
	}

	.entry-meta{ 
		.avatar{ display: none; }
	}

	.entry-meta-left,
	.entry-meta-right{
		margin: 0;
		padding: 0;

		span{ 
			display: block;
			margin: 0; 
		}
	}

	.entry-meta-right{ text-align: left; }

	.entry-meta-user:before{
		content: '\f007';
    font-family: FontAwesome;
    padding-right: .3em;
	}
}