.comments-area {
  display: grid;
  grid-template-columns: minmax(0, 100%);
}

.comments-title {
  margin: 0 0 .5em;
}

.comment-list {
  display: grid;
  grid-template-columns: minmax(0, 100%);
  margin: 0;
}

.comment,
.pingback {
  border-top: 0.0625em solid var(--color-border);
  list-style: none;
  padding-top: 1em;
  margin: 1em 0;
}

.pingback {
  font-weight: 600;
}

.comment-meta {
  margin-bottom: 1em;

  a {
    text-decoration: none;
  }
}

.bypostauthor .comment-author .fn::before {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  content: '\f007';
  padding-right: .5em;
}

.comment-author {
  .avatar {
    position: relative;
    float: left;
    margin-right: .5em;
    border-radius: 100%;
  }
}

.comment-metadata {
  font-size: .7rem;
  margin-top: 1em;
}

.comment-edit-link,
.comment-reply-link {
  background-color: var(--color-highlight);
  border-radius: .15em;
  padding: .25em .5em;
  text-decoration: none;
}

.comment-edit-link {
  margin-left: 1em;
}

.comment-respond {
  border-top: 0.0625em solid var(--color-border);
  margin-top: 2em;
  padding-top: 1em;
}

.comment-form {
  label {
    display: block;
  }

  p {
    margin: 0 0 1em;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.comment-reply-title {
  margin: 0;
}