body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-family);
  word-wrap: break-word;
}

.read-more-link {
  position: relative;
  display: table-cell;
  background-color: var(--color-highlight);
  top: .5em;
  padding: .5em;
  text-decoration: none;
}

.page-links {
  > * {
    background-color: var(--color-highlight);
    border: 0.0625em solid var(--color-highlight);
    margin-left: .5em;
    padding: .25em .5em;
  }

  > span {
    background-color: var(--color-container);
  }

  a {
    text-decoration: none;
  }
}