:root {
  --font-family: 'Open Sans', sans-serif;
  --font-size: 10pt;

  --color-bg:           #1E73BE;
  --color-container:    #FFFFFF;
  --color-text:         #000000;
  --color-anchor:       #191919;
  --color-site-title:   #191919;
  --color-site-tagline: #191919;
  --color-border:       #BDBDBD;
  --color-highlight:    #EFEFEF;
}