/* Compoinents: Nav links */
.nav-links {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin-block-end: 2em;

  a {
    color: var(--text-color);
  }
}

.nav-previous,
.nav-next,
.page-numbers:not(.dots) {
  background-color: var(--color-gray-200);
  border: var(--border-width) var(--border-style) var(--border-color);
  border-radius: var(--border-radius);
  text-decoration: none;
  color: var(--color-gray-900);
  transition: background-color .3s ease-in-out;

  a {
    color: var(--color-gray-900);
  }

  &:hover:not(.current) {
    background-color: var(--color-gray-400);
  }
}

.nav-next {
  margin-inline-start: auto;
}

.nav-previous a,
.nav-next a,
.page-numbers:not(.dots) {
  display: block;
  text-decoration: none;
  padding: .5em;
}

.page-numbers.dots {
  padding: .75em .5em 0;
}

.page-numbers.current {
  background-color: transparent;
  color: var(--text-color);
}

.nav-previous i,
.page-numbers.prev i {
  margin-right: .5em;
}

.nav-next i,
.page-numbers.next i {
  margin-left: .5em;
}