/* Components: Page links */
.page-links {
  margin-block-start: 2em;
  clear: both;
}

.post-page-numbers {
  background-color: var(--color-gray-200);
  border: var(--border-width) var(--border-style) var(--border-color);
  border-radius: var(--border-radius);
  text-decoration: none;
  padding: .128em .5em;
  margin-inline-start: .5em;
  color: var(--color-gray-900);
  transition: background-color .3s ease-in-out;

  &:hover:not(.current) {
    background-color: var(--color-gray-400);
  }

  &.current {
    background-color: transparent;
    color: var(--text-color);
  }
}

.post-page-numbers + .post-page-numbers {
  margin-inline-start: .25em;
}

@media (prefers-reduced-motion) {
  .post-page-numbers {
    transition: none;
  }
}