/* Components: Author bio */
.author-bio {
  display: grid;
  grid-template-columns: 4em minmax(0, 1fr);
  grid-gap: .5em 1em;
  text-align: left;
  margin-inline: 0;
  max-width: 74ch;

  .avatar {
    display: block;
    grid-row: 1 / 4;
    border-radius: 50%;
  }

  &__title,
  &__description {
    margin: 0;
  }

  &__title a {
    text-decoration: none;
    color: var(--text-color);
  }
}
