/* Components: Post edit link */
.post-edit-link {
  background-color: var(--color-gray-400);
  position: absolute;
  top: 0;
  right: 0;
  padding: .25em .5em;
  border-radius: var(--border-radius);

  i {
    font-size: .85rem;
    margin-right: .25em;
  }
}

.entry-header .post-edit-link:hover {
  text-decoration: none;
}