/* Comments */
.comments-area > * + * {
  margin-block-start: 3em;
}

.comment-list {
  margin-inline-start: 0;

  > * + * {
    margin-block-start: 2em;
  }
}

.comment-list,
.comment-list .children {
  list-style: none;
}

.comment-content,
.comment .reply {
  margin: 0 !important;
}

.comment,
.pingback {
  .children {
    margin: 2em 0 0 1em;
  }
}

.comment-list > * + * {
  margin-block-start: 2em;
  border-top: var(--border-width) dashed var(--color-gray-400);
  padding-block-start: 2em;
}

.comment-meta {
  white-space: nowrap;
  font-size: 1rem;
  display: inline-grid;
  grid-template-columns: 42px minmax(0, auto);
  gap: 1em;

  a {
    text-decoration: none;
    color: var(--text-color);

    &:hover {
      text-decoration: underline;
    }
  }

  .comment-author {
    display: inline-grid;
    grid-template-columns: 42px minmax(0, auto);
    justify-content: start;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    gap: 1em;

    .avatar {
      grid-column: 1;
      grid-row: 1 / 2;
      border-radius: 50%;
    }

    .fn {
      grid-column: 2;
      grid-row: 1;
    }

    .says {
      grid-column: 3;
      grid-row: 1;
    }
  }

  .comment-metadata {
    grid-row: 2;
    grid-column: 2;
    font-size: .8rem;
  }

  .comment-edit-link {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--color-gray-900);
    margin-inline-start: 1em;
  
    &:hover {
      text-decoration: underline;
    }
  }
}

.comment-content,
.comment .reply {
  padding-inline-start: calc(42px + 1em);
}

.comment-reply-link {
  background-color: var(--color-gray-200);
  border: var(--border-width) var(--border-style) var(--border-color);
  border-radius: var(--border-radius);
  text-decoration: none;
  padding: .25em .5em;
  color: var(--color-gray-900);
  transition: background-color .3s ease-in-out;

  &:hover {
    background-color: var(--color-gray-400);
  }
}

.comment-form {
  label {
    display: block;
  }
}

.comment-reply-title {
  font-weight: 600;
}
